:root {
  --background-color: #0c0c0c;
  --background-panel-color: #1a1a1a;
  --font-color: #eee;
  --primary-color: #76ff7a;
  --primary-background-color: #2d662d;
  --warning-color: #ff7676;
  --warning-background-color: #662d2d;
  --active-background-color: #662d2d55;
  --reserverd-color: #4faa52;
  --disabled-color: #797979;

  --team-A-color: #fd9946;
  --team-A-background-color: #70431e;
  --team-B-color: #b676ff;
  --team-B-background-color: #4f2d66;

  --gap-small: 4px;
  --gap: 10px;

  --rule-width: 230px;
}

/* General layout */
body {
  font-family: sans-serif;
  background: var(--background-color);
  color: var(--font-color);
  margin: 0;
  overflow: hidden;
  display: flex;
  flex-direction: column;
  height: 100vh;
  margin: 0;
  box-sizing: content-box;
}

header {
  background: var(--background-panel-color);
  display: flex;
  position: fixed;
  right: 0px;
  z-index: 1;
  max-height: 100%;
  gap: var(--gap);
}

main {
  flex: 1;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: flex-start;
  overflow-y: auto;
  position: relative;
  background: var(--background-color);
  gap: var(--gap);
}

hr {
  color: var(--background-color);
}

p {
  color: var(--reserverd-color);
  margin: 0%;
}

label{
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: var(--gap);
}

canvas {
  height: 600px;
  width: 400px;
}

.reservedword.reservedword.reservedword{
  color: var(--reserverd-color);
  font-size: 0.7em;
}

.warning.warning.warning{
  color: var(--warning-color);
  background-color: var(--warning-background-color);
}

.fixed.fixed.fixed{
  opacity: 0.8;
  font-style: italic;
  font-size: 0.8em;
}

button {
  background: var(--primary-background-color);
  border: none;
  border-radius: var(--gap-small);
  color: var(--font-color);
  padding: auto;
  cursor: pointer;
  opacity: 0.8;
  position: relative;
}

button:hover {
  opacity: 1;
}

select {
  background: var(--background-color);
  color: var(--font-color);
  border: 1px solid var(--background-panel-color);
  border-radius: var(--gap-small);
  padding: var(--gap-small);
}

.matchcontrols button{
  min-width: 50px;
  min-height: 30px;
}
.matchcontrols #matchpercent{
  display: inline-block;
  min-width: 30px;
}
.matchinfo label{
  padding: var(--gap-small);
}

.import-area {
  flex-grow: 2;
}

.team-selection {
  max-width: 350px;
}

.team-message {
  flex: 2 1 0;            /* grow sí, pero con base 0 y permitido encoger */
  min-width: 0;           /* clave para que pueda romper línea dentro de flex */
  white-space: normal;    /* permite saltos de línea */
  overflow-wrap: break-word; /* si hay palabras largas, que se partan */
  color: var(--warning-color);
  font-size: 0.7em;
}

/* Player Instruction Component */
.player-instructions {
  border: thin solid var(--background-color);
  background: var(--background-color);
  padding: var(--gap);
  border-radius: var(--gap);
  margin-bottom: var(--gap);
}

.player-instructions hr {
  width: calc(var(--rule-width) + var(--gap));
}

.player-instructions .player-name {
  margin-top: 0;
  margin-bottom: 8px;
  font-size: 1.2em;
  color: var(--primary-color);
}

.player-instructions section {
  display: flex;
}

.player-instructions article  {
  background: var(--background-panel-color);
  border: thin solid var(--background-color);
  padding: var(--gap);
}
.player-instructions .myteamhasball {
  border-radius: var(--gap) 0px 0px var(--gap);
}
.player-instructions .myteamdonthasball {
  border-radius: 0px var(--gap) var(--gap) 0px;
}

.rule-item {
  border-radius: var(--gap-small);
  padding: var(--gap-small);
  background: var(--background-color);
  display: block;
  min-width: var(--rule-width);
  border: thin solid var(--background-color);
}

.player-instructions .active  {
  background: var(--active-background-color);
}

.player-instructions .defaultaction .active  {
  background: var(--background-color);
  color: var(--active-background-color);
}

.btn-add-rule{
  float: right;
  display: block;
  margin-left: var(--gap);
  margin-top: var(--gap);
}

.rules-container{
  min-height: var(--gap);
  display: flex;
  flex-direction: column;
  gap: var(--gap-small);
}


.team-formation {
  background: var(--background-panel-color);
  padding: var(--gap);
  display: flex;
  flex-direction: column;
  gap: var(--gap);
}

.players-wrapper {
  display: flex;
  flex-direction: column;
  gap: var(--gap);
  overflow-y: auto;
}

.team-controls {
  display: flex;
  flex-direction: column;
  gap: var(--gap);
}
.team-controls button{
  min-width: 90px;
  min-height: 25px;
}

.matchpanel{
  display: flex;
  flex-direction: column;
  gap: var(--gap);
  align-items: center;
}

.matchinfo > fieldset{
  width: 450px;
  height: 590px;
  overflow-y: scroll;
}

.summary-label{
  font-size: 0.8em;
  color: var(--disabled-color);
}

.summary-name{
  margin-top: var(--gap-small);
  margin-bottom: var(--gap-small);
  font-size: 1.2em;
}

.player-summary-item label{
  justify-content: space-between;
  border-radius: var(--gap-small);
}
.player-summary-item label:nth-child(odd){
  background-color: var(--background-panel-color);
}

.log-time{
  font-size: 0.6em;
  width: 20px;
  display: inline-block;
  color: var(--disabled-color);
}

.log-team{
  font-size: 0.8em;
}

.teamacolor{
  color: var(--team-A-color);
}
.teambcolor{
  color: var(--team-B-color);
}
.teamabgcolor{
  background: var(--team-A-background-color);
}
.teambbgcolor{
  background: var(--team-B-background-color);
}

input {
  background: var(--background-color);
  color: var(--font-color);
  border: 1px solid var(--background-panel-color);
  border-radius: var(--gap-small);
  padding: var(--gap-small);
}

button:disabled {
  background-color: var(--disabled-color);
  opacity: 0.8;
  cursor: default;
}

.loader {
  display: none;
  width: 40px;
  position: absolute;
  right: var(--gap-small);
  bottom: var(--gap-small);
  aspect-ratio: 4;
  background: radial-gradient(circle closest-side,var(--font-color) 90%,#0000) 0/calc(100%/3) 100% no-repeat;
  animation: l2 1s steps(3) infinite;
}
@keyframes l2 {to{background-position: 150%}}

button:disabled .loader{
  display: inline;
}
